html,
body {
    overflow-x: hidden;
    font-family: "General Sans", sans-serif;
    padding:0;
    margin:0;
    
}

.page{
    margin-top: 5%;
}
h1 {
    font-family: "General Sans", sans-serif;
    font-weight: 300 !important;
    letter-spacing: 0.5px;
}

h2 {
    font-family: "General Sans", sans-serif !important;
    font-weight: 300 !important;
    font-size:6vw;
}


h3 {
    font-family: "General Sans", sans-serif !important;
    font-weight: 300 !important;
    font-size:3vw;
}

h4 {
    font-family: "General Sans", sans-serif !important;
    font-weight: 3400 !important;
    font-size: 20px !important;
    line-height: 150% !important;
}

p {
    padding-top: 20px;
    font-size: 22px;
    font-family: "General Sans", sans-serif;
    color: #0000008e;
    letter-spacing: .005em;
    line-height: 150% !important;
}

.fullsizeDiv{
    background-size: cover;
    width:100%;
    height: 450px;
    object-fit: cover;
    object-position: bottom;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
}
.link{
    color: #580437;
    transition: all 0.25s ease;
}
.link:hover{
    transition: all 0.25s ease;
    color: #FF0842 !important;
}
.whiteLogo {
    height: 70px;
    width: 70px;
}
.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #8AC942;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right top, #FF0842, #8AC942, #FACC00);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, #FF0842, #8AC942, #FACC00);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, #FF0842, #8AC942, #FACC00);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, #FF0842, #8AC942, #FACC00);
    /* Standard syntax (must be last) */
}
.big {
    font-size: 5em;
}
.squareDiv {
    margin: 75px;
}
.sideDiv {
    margin: 25px;
}
.svgMargin {
    margin: 75px;
}
.rectDiv {
    margin: 75px;
}
.dark {
    color: #000000;
}
.white {
    color: white !important;
}
.red {
    color: #FF0842;
}
.grey {
    color: #000000;
}
.darkGrey {
    color: #000000;
}
.textA {
    text-decoration: none;
}
.textA:hover {
    color: #000000 !important;
    text-decoration: none !important;
}
.name {
    padding: 25px;
}
.position {
    position: absolute;
    bottom: 10px;
    left: 35px;
}

.center{
    text-align: center;
}

.sponsorList{
    font-size: 20px;
}

#jumbotronFull {
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(Img/background.png);
    /*background-size: cover;
    background-position: center;*/
    text-align: center;
    margin: 0;
}


#textLogo{
    justify-content: center;
    align-self: center;
}


.smallBanner {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.smallImg {
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.fullsizeImg{
    max-width:50%;
    max-height:50%;
}

.bannerIcon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 20px;
}
.withMainMargins {
    margin-left: 175px;
    margin-right: 5%;
}
.withDoubleMargins {
    margin-left: 250px;
    margin-right: 5%;
}
.topnav {
    font-family: 'General Sans', sans-serif;
    font-size: 1.25em;
    background-color: transparent;
    transition: all 0.25s ease;
    position: fixed;
    top: 0;
    left: 30px;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    list-style-type: none;
    width: 150px;
}
ul.topnav {
    margin: 0;
    font-weight: 300;
    font-size: 1.25em;
    /*overflow: hidden;*/
    /*align-items: center;*/
}
ul.topnav li {
    margin-top: 1.25em;
}
.topnav a {
    transition: all linear 0.15s;
    text-decoration: none;
    color: white;
}
.topnav a:hover {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25em;
}
ul.staticTopnav {
    margin: 0;
    font-weight: 300;
    font-size: 1.25em;
    /*overflow: hidden;*/
    /*align-items: center;*/
}
ul.staticTopnav li {
    margin-top: 1.25em;
}
.staticTopnav {
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    background-color: transparent;
    transition: all 0.25s ease;
    position: fixed;
    top: 0;
    left: 30px;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    list-style-type: none;
    width: 150px;
}
.staticTopnav a {
    transition: all 0.25s ease;
    color: #000000 !important;
}
.staticTopnav a:hover {
    text-decoration: none;
    color: #8b3c3c !important;
}
.changeStyle a {
    color: #000000 !important;
}
.changeStyle a:hover {
    color: #cc4e4e !important;
}
.space {
    height: 50px;
    margin:0;
}
.addSpacer {
    margin-bottom: 30px;
}
button {
    border: none;
}
.button {
    font-family: "General Sans", sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    background: #FB0033;
    background: -webkit-linear-gradient(left, #1D2059, #fb003f);
    /* For Safari 5.1 to 6.0 */
    /* background: -o-linear-gradient(right, #1D2059, #FB0033);
    /* For Opera 11.1 to 12.0 */
   /* background: -moz-linear-gradient(right, #1D2059, #FB0033);
    /* For Firefox 3.6 to 15 */
    /* background: linear-gradient(to right, #1D2059, #FB0033);
    /* Standard syntax */ 
}
.button:hover {
    text-decoration: none;
    color: white;
    background: #580437;
    background: -webkit-linear-gradient(left, #580437, #FB0033);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #580437, #FB0033);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #580437, #FB0033);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #7c074d, #ff2b56);
    /* Standard syntax */
}
.rectangle {
    width: 50%;
    height: 5px;
}

.hr1{
    color:rgb(250, 0, 0);
    border-style:solid;
}

.inlineTitle {
    justify-content: space-between;
    vertical-align: center;
}
.inlineTitle h2 {
    display: inline-block;
    margin: auto;
}
.right {
    float: right;
}
.page-header h2 {
    margin: 0;
    padding: 0;
}
.page-header {
    border-bottom: none !important;
}
.longHorizontal {
    display: block;
}
.gradient {
    background: #FB0033;
    background: -webkit-linear-gradient(left, #1D2059, #FB0033);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #1D2059, #FB0033);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #1D2059, #FB0033);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #1D2059, #FB0033);
    /* Standard syntax */
}
.diagGradient {
    background: #1D2059;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #1D2059, #FB0033);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #1D2059, #FB0033);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #1D2059, #FB0033);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #1D2059, #FB0033);
    /* Standard syntax */
}
.jobIcon {
    height: 100px;
    width: 100px;
}
footer {
    
    background: -webkit-linear-gradient(#1D2059, #FB0033, #1D2059);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1D2059, #FB0033, #1D2059);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1D2059, #FB0033, #1D2059);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1D2059, #FB0033, #1D2059);
    margin: 0px;
    text-align: center;
}
.footer {
}


/*mobile menu*/

.hamburger {
    visibility: hidden;
    display: none;
}
.staticHamburger {
    visibility: hidden;
}
.sidenav {
    font-family: 'General Sans', sans-serif;
    font-size: 12px;
    transition: all 0.25s ease;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    text-decoration: none;
}
.sidenav a {
    font-weight: 300;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: all 0.25s ease;
}
.sidenav a:hover,
.offcanvas a:focus {
    text-decoration: none;
    color: #FF0842;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar {
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    transition: all 0.25s ease;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    text-decoration: none;
}
.sidebar p {
    display: block;
    width: 250px;
    font-size: 16px;
}
.sidebar .closebtn {
    font-weight: 400;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: all 0.25s ease;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.button2 {
    font-family: "General Sans", sans-serif;
    font-size: 16px;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    color: #8AC942;
    background: white;
}
.button2:hover {
    text-decoration: none;
    color: white;
    background: #580437;
    background: -webkit-linear-gradient(left, #580437, #FB0033);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #580437, #FB0033);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #580437, #FB0033);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #580437, #FB0033);
    /* Standard syntax */
}
.letter {
    background-color: #F4F6F6;
    padding: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.letterBody {
    text-shadow: 1px 1px #DEDEDE;
}
.name {
    position: absolute;
    bottom: 0;
    left: 0;
    /*visibility: hidden;*/
    transition: all 0.25 ease;
}
.names {
    font-size: 30px !important;
}
.square {
    margin-top: 30px;
    background-position: right;
}
.name:hover {
    visibility: visible;
    cursor: pointer;
}

/* The Modal (background) */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(22, 197, 132, .75)/* Black w/ opacity */
}

/* Modal Content */

div.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    width: 600px;
    height: 600px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    outline: none;
    border: none !important;
}
.modal-header {
    height: 280px;
    padding: 2px 16px;
    background-image: url(Img/profiles/bobby.jpg);
    background-position: top;
    background-size: cover;
}
.modal-body {
    font-size: 1em;
    padding: 2px 16px;
    overflow: auto;
}
#mtext {
    overflow: scroll;
    height: 180px;
}
.exit {
    color: #580437;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.exit:hover,
.exit:focus {
    color: #1D2059;
    text-decoration: none;
    cursor: pointer;
}
.contactP {
    padding-top: 0px;
}

/*----- Accordion -----*/

.accordion,
.accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.accordion {
    overflow: hidden;
}

/*----- Section Titles -----*/

.accordion-section-title {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #1a1a1a;
    background: white;
    transition: all linear 0.15s;
    /* Type */
    text-decoration: none;
    color: #294053;
    font-family: "Helvetica", sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 150% !important;
}
.accordion-section-title.active {
    /* Type */
    text-decoration: none;
    color: #FB0033;
    text-shadow: none;
}
.accordion-section-title:hover {
    /* Type */
    text-decoration: none;
    color: #C7D0D4;
    text-shadow: none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
    text-decoration: none;
}

/*----- Section Content -----*/

.accordion-section-content {
    padding: 15px;
    display: none;
}

input{
    width: 100%;
    
    padding: 12px 20px;
    border-color: #FB0033;
    box-shadow: none;
    border-style: solid;
    border-width: thin;
    outline: none;
}
textArea{
    margin-top: 15px;
        margin-bottom: 10px;
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        resize: none;
        border-color: #FB0033;
}
textArea:focus{
    outline:none;
}
.giantCircle{
    height: 500px;
    width: 500px;
}


@media screen and (max-width: 1200px) {
    h2{
        font-size: 6vw;
    }
    h3{
        font-size: 3vw;
    }

    .withMainMargins {
        margin-left: 200px;
        margin-right: 20px;
    }
    .withDoubleMargins {
        margin-left: 20%;
        margin-right: 10%;
    }

    /* first img */
    .fullsizeDiv{
        width: 100%;
        height: 400px;
        margin-top:5%;
    }

    .svgMargin {
        margin: 15px;
        margin-bottom: 100px;
    }
    .squareDiv {
        margin: 15px;
        margin-bottom: 100px;
    }
    .rectDiv {
        margin: 15px;
        margin-bottom: 100px;
    }
    .sideDiv {
        margin: 15px;
        margin-top: 20px;
        margin-bottom: 100px;
    }
}






@media screen and (max-width: 1024px) {
    h2{
        font-size: 6vw;
    }
    h3{
        font-size: 3vw;
    }
    
    .hamburger {
        display: block;
        visibility: visible;
        position: fixed;
        top: 10px;
        left: 10px;
        color: white;
        transition: all 0.25 ease;
    }
    .staticHamburger {
        visibility: visible;
        position: fixed;
        top: 10px;
        left: 10px;
        color: #294053;
        transition: all 0.25 ease;
    }
    .hChangeStyle {
        color: #294053;
    }
    .topnav {
        visibility: hidden;
    }
    .staticTopnav {
        visibility: hidden;
    }
    .withMainMargins {
        margin-left: 50px;
        margin-right: 0.5vw;
    }
    .withDoubleMargins {
        margin-left: 60px;
        margin-right: 0.5vw;
    }
    .svgMargin {
        margin: 10px;
        margin-top: 100px;
    }
    .squareDiv {
        margin: 10px;
        margin-top: 100px;
    }
    .rectDiv {
        margin: 10px;
        margin-bottom: 100px;
    }
    .sideDiv {
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 600px) {
    
    .jumbotron h1 {
        font-size: 250% !important;
    }
    .jumbotron h2 {
        font-size: 150% !important;
    }
    .footer ul {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    h2{
        font-size: 10vw;
    }

    h3{
        font-size: 5vw;
    }
    .svgMargin {
        margin: 75px;
    }
    .letter {
        padding: 20px;
    }
    div.modal-content {
        position: relative;
        background-color: white;
        margin: auto;
        margin-top: 15px;
        padding: 0;
        width: 90%;
    }

}

/* mobile */

@media screen and (max-width: 500px){
    h2{
        font-size: 13vw;
    }

    h3{
        font-size: 10vw;
    }
     .squareDiv {
        margin: 0;
        margin-bottom: 100px;
    }
    .fullsizeImg{
        width: auto;
        height: auto;
    }

    /* first image*/
    .fullsizeDiv1{
        width: 100%;
        height: 450px;
        margin-top:5%;
        object-fit: cover;
        object-position: bottom;
    }

    .withDoubleMargins{
        margin-left: 0px;
        margin-right: 0px;   
    }
    .mobileMargins{
        margin-left: 10px;
        margin-right: 10px;
    }
    .withMainMargins {
        margin-left: 0px;
        margin-right: 0px;
    }
    
}

/* mobile */
@media screen and (max-width: 320px) {
    h2{
        font-size: 13vw;
    }

    h3{
        font-size: 10vw;
    }

    .withMainMargins {
        margin-left: 0px;
        margin-right: 0px;
    }
    .withDoubleMargins {
        margin-left: 10px;
        margin-right: 10px;
    }
    .squareDiv {
        margin: 10px;
        margin-top: 100px;
    }
    .sideDiv {
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .svgMargin {
        margin: 10px;
        margin-top: 100px;
    }
    .jumbotron h1 {
        font-size: 250% !important;
    }
    .jumbotron h2 {
        font-size: 250% !important;
    }
    .modal-content {
        height: 650px !important;
    }
}
@media screen and (max-height: 600px) {
    
    .modal-content {
        height: 500px !important;
    }
    .modal-header {
        height: 200px;
    }
}
